.main-container {
  width: 100vw; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main-header {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 5rem;
  height: auto;
  background-color: #b5fae1;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  box-shadow: 0 4px 6px rgba(88, 135, 117, 0.5);
  z-index: 10;
}

.main-content {
  flex-grow: 1;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  padding: 0rem;
  align-items: center;
  justify-content: center;
}