.info-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  overflow: auto;
}

.info-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4eb89f;
  overflow: auto;
  flex-wrap: wrap;
}

.info-card {
  width: auto;
  height: auto;
  padding: 5% 5%;
  display: flex;
  justify-content: space-between;
  background-color: #e5fff5;
  border-radius: 10px;
  box-shadow:
    -1px 0 6px rgba(58, 142, 124, 0.5),
    1px 0 6px rgba(58, 142, 124, 0.5);
  overflow: auto;
  z-index: 10;
}

.leftColumn {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.rightColumn {
  flex: 1;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  width : auto
}

.image-container img {
  border: 2px solid #4682B4;
  border-radius: 5px;
}

.episodes-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  width : 120px;
  height: 210px;
  padding-top: 5%;
}